<owl-carousel [options]="{items: 1, dots: false, nav: false, autoplay: true, loop: true, autoplayTimeout: 6000}">
    <div class="item">
        <div class="thumbnail-image">
            <div class="background-img-1"></div>
        </div>
    </div>
    <div class="item">
        <div class="thumbnail-image">
            <div class="background-img-2"></div>
        </div>
    </div>
    <div class="item">
        <div class="thumbnail-image">
            <div class="background-img-3"></div>
        </div>
    </div>
</owl-carousel>